/*
* @Author: Peter
* @Date:   2017-12-15 11:58:27
* @Last Modified by:   Peter
* @Last Modified time: 2017-12-15 13:28:19
*/
body {
    font-size: 16px;
}

.demo {
    color: #eee;
}

.woshi {
    font-size: 1.3rem;
}