/*
* @Author: Peter
* @Date:   2017-12-15 11:58:27
* @Last Modified by:   Peter
* @Last Modified time: 2017-12-15 12:06:29
*/
body {
    font-size: 16px;
    color: #333 !important;
}

.demo {
    color: #eee;
}